[ req ]
default_bits       = 16384
distinguished_name = req_distinguished_name
req_extensions     = ca_cert
prompt = no

[ req_distinguished_name ]
C = FR
ST = Ile-de-France
L = Paris
O = ESIEE-IT
OU = IT
CN = esiee-it.com
emailAddress = contact@esiee-it.com

[ ca_cert ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical,CA:true
keyUsage = critical, cRLSign, keyCertSign
