[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = server_cert
prompt = no

[ req_distinguished_name ]
C = FR
ST = Ile-de-France
L = Paris
O = Coding Factory
OU = IT
CN = webwedev.net
emailAddress = contact@esiee-it.fr

[ server_cert ]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth,serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = localhost
DNS.2   = 127.0.0.1
